    #nva{
        background: rgb(224, 12, 12);
    }
    #nva1{
        background: #000;
    }     
    #nva2{
        background: rgb(60, 31, 228);
    }     
    #nva3{
        background: rgb(199, 24, 77);
    }     
    #nva4{
        background: rgb(214, 37, 37);
    }     
    #nva5{
        background: #000;
    }     